.filter {
  padding-top: 94px;
  padding-bottom: 94px;

  &__button-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
  }

  &__item{
    &:not(:last-child) {
    margin-right: 8px;
    }
  }
}

.filter__button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-align: center;

  background-color: var(--filter-buttons-bg-cl);

  transition: color 250ms var(--animation-timer),
    background-color 250ms var(--animation-timer),
    box-shadow 250ms var(--animation-timer);

  &:hover,
  &:focus {
    background: var(--accent-color);
    color: var(--active-text-button-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
