/*-----FOOTER-LOGO------*/
.footer__logo {
  font-family: $main-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--first-logo-part);

  &--white {
    color: var(--footer-main-color);
  }
}
