/* -------MAIL-FORM -------*/

.mail-form {
  margin-left: 93px;

  &__form{
    display: flex
  }

  &__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--footer-main-color);
  }

  &__input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.2;

  color: rgba(255, 255, 255, 0.6);
  background: var(--hero-and-footer-bgcolor);

  transition: background-color 250ms var(--animation-timer);
  }
}

.mail-form__button {
  display: inline-flex;

  padding: 10px 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  color: var(--text-bottons-color);

  background: var(--hero-footer-buttons-bgcolor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: background-color 250ms var(--animation-timer);

  &:focus,
  &:hover{
    background-color: var(--hero-footer-buttons-hover-focus-color);
  }

  &::after{
    align-self: center;
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 10px;
    
    background-image: url(../images/icon-send-footer.svg);
  }
}
