/*--------MESSANGERS---------*/

.social-pages {
  margin-left: 70px;

  &__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--footer-main-color);
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__icon {
    fill: var(--footer-main-color);
  }
}

.social-pages__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--animation-timer);

  &:hover,
  &:focus{
  background-color: var(--accent-color);
    }

}
