/*-----------------NAV-----------------*/

.page-header__site-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list__item{
  &:not(:last-child) {
  margin-right: 50px;
  }
}

.nav-list__link {
  display: flex;
  position: relative;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--nav-color);

  transition: color 250ms var(--animation-timer);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav-list__current-page{

  &{
  color: var(--accent-color);
}
  &::after {
    position: absolute;
  
    content: "";
    bottom: 0px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  
    background-color: var(--accent-color);
  }
}
