/*---------------------THIRD-SECTION------------------*/

.third-main-section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--worders-bg-color);

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.worderks-list {
  display: flex;

  &__card-text {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__workers-name {
    margin-bottom: 10px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  .worderks-list__workers-specialty {
    margin-bottom: 16px;
  
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  
    color: var(--p-color);
  }
}

.worderks-list__card {
  text-align: center;

  background-color: var(--workers-card-bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

