/*portfolio-overlay+shadow*/

.filter__overlay {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  
    transform: translateY(100%);
    transition: transform 250ms var(--animation-timer);
  
    background-color: rgba(33, 150, 243, 0.9);
  }

  .filter__link:hover &::before,
  .filter__link:focus &::before {
    transform: translateY(0%);
  }
}

.filter-card-link:hover,
.filter-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter__overlay-text {
  position: absolute;
  padding: 63px 24px;

  transition: transform 250ms var(--animation-timer);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--overlay-text-color);

  .filter__link:hover &,
  .filter__link:focus & {
    transform: translateY(-100%);
  }
}

