/*---ADRESS-TEL-MAIL----*/
.address {
  margin-top: 20px;

  &__item{
    &:not(:last-child) {
    margin-bottom: 9px;
    }
  }
}

.address__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--animation-timer);

  &--white {
    color: var(--footer-main-color);
  }

  &:focus,
  &:hover{
    color: var(--accent-color);
  }
}
