/*---LOGO---*/

.page-header__header-logo {
  display: inline-block;

  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--first-logo-part);

  &--black {
    color: var(--second-logo-header-part);
  }
  
}

